.logo-card {
    width: 14vw;
    text-align: center;
}



fa-icon:hover {
    color: black;
}

fa-icon:hover:after {
    content: attr(title);
    font-size: 20px;
    color: rgb(24, 180, 254) ;
    position: relative;
    left: 15px;
    top:-30px
}

